body {
    background-color: #F9FAFC;
}

.brand {
    font-family: 'Times New Roman', Times, serif , sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}
/* MAIN COLORS */


.runner-logo{
    font-family: 'Times New Roman', Times, serif;
    color: goldenrod;
}

.tricolor {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-image: linear-gradient(#ff14bc, #fff70c, #084eff);
    -webkit-background-clip: text;
    background-size: 100%;

}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: goldenrod;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

/* .image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
} */

.author {
    color: black;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    /* background-color: #445261; */
    color: goldenrod;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: wheat;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color:goldenrod ;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: goldenrod;
}

.btn-signup {
    background-color: goldenrod;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: wheat;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: red;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: gold;
    background: transparent;
    border: none;
}

.delete-btn{
    color: red;
    background: transparent;
    border: none;
}

.update-btn {
    color: blue;
    background: transparent;
    border: none;
}
.gold-border {
    width: 40%;
    height: 40%;
    margin-left: 29%;
    padding: 2%;
}


/* USER PROFILE POSTS IMAGES */


/* default styling for user posts */
.user-posts {
    max-width: 100%;
    width: auto;
    padding: 0;
    margin: 0 auto;
    background-color: transparent;
    border: none;
    box-shadow: none;
    overflow: hidden;
}

/* Control the maximum width of images within user posts */
.user-posts img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Media query for screens smaller than 768px (iphones etc) */
@media (max-width: 768px) {
    .user-posts img {
        max-width: 100%;
    }
}

/* media query for screens larger than 768px (laptops) */
@media (min-width: 769px) {
    .user-posts img {
        max-width: 50%;
        
    }
}


/* gold border css */

@media (min-width: 769px) {
    .user-posts img {
        max-width: 42%;
        margin-left: 30%;
        
    }

    .gold-border {
        width: 40%;
        height: 40%;
        margin-left: 30%;
        padding: 2%;
    }
}

/* Style for the gold border image outside the media query */
.gold-border {
    /* Your default styles for smaller screens here */
    width: 40%;
    height: 40%;
    margin-left: 29%;
    padding: 2%;
}


/* USER POSTS DETAILS */
.post_detail_image{
        max-width: 100%;
        width: auto;
        padding: 0;
        margin: 0 auto;
        background-color: transparent;
        

}




.post_title{
    color: goldenrod;
    font-family: 'Times New Roman', Times, serif;
}

.post_subtitle{
    color: goldenrod;
    font-family: 'Times New Roman', Times, serif;
}

.comment-date{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: goldenrod;

}

.commenter{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color:black;
}

.footer{
    color: goldenrod;
}