body {
    background-color: white;
    font-family: "Avenir Next LT W02 Regular";
}

.brand {
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}
/* MAIN COLORS */


.runner-logo{
    font-weight: bolder;
    color: goldenrod;
}

.tricolor {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-image: linear-gradient(#ff14bc, #fff70c, #084eff);
    -webkit-background-clip: text;
    background-size: 100%;

}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: black;
}

.dark-bg-footer {
    /* background-color:#daa5207d ; */
    
}


.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}
.card-title{
    font-weight: 600;
}

.image-container {
    position: relative;
}

/* .image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
} */

.author {
    color: black;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    /* background-color: #445261; */
    color: black;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: wheat;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color:blue ;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: black;
}

.btn-signup {
    background-color: wheat;
    color: #fff;
    margin-top: 20px;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: wheat;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: black;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: red;
    background: transparent;
    border: none;
}

.delete-btn{
    color: red;
    background: transparent;
    border: none;
}

.update-btn {
    color: blue;
    background: transparent;
    border: none;
}
.gold-border {
    width: 40%;
    height: 40%;
    margin-left: 29%;
    padding: 2%;
}


/* USER PROFILE POSTS IMAGES */

/* default styling for user posts */
.user-posts {
    max-width: 100%;
    width: auto;
    padding: 0;
    margin: 0 auto;
    background-color: transparent;
    border: none;
    box-shadow: none;
    overflow: hidden;
}

/* Control the maximum width of images within user posts */
.user-posts img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Media query for screens smaller than 768px (iphones etc) */
@media (max-width: 768px) {
    .user-posts img {
        max-width: 100%;
    }
}

/* media query for screens larger than 768px (laptops) */
@media (min-width: 769px) {
    .user-posts img {
        max-width: 50%;
        max-height:30%;

    }
}




/* _________________ */


/* CARD IMAGE */




/*  */




/* gold border css */

@media (min-width: 769px) {
    .user-posts img {
        max-width: 42%;
        margin-left: 30%;
        
    }

    .gold-border {
        width: 40%;
        height: 40%;
        margin-left: 30%;
        padding: 2%;
    }
}

/* Style for the gold border image outside the media query */
.gold-border {
    /* default styles for smaller screens */
    width: 40%;
    height: 40%;
    margin-left: 29%;
    padding: 2%;
}




/* USER POSTS DETAILS */
.post_detail_image{
        max-width: 100%;
        width: auto;
        padding: 0;
        margin: 0 auto;
        background-color: transparent;
    
}




.post_title{
    color: black;
    /* font-family: 'Times New Roman', Times, serif; */
}

.post_subtitle{
    color: black;
    
}

.comment-date{
   
    font-weight: 600;
    color: goldenrod;

}

.commenter{
   
    font-weight: 600;
    color:black;
}

.footer{
    color: goldenrod;
    
}

/* INDEX HMTL */

.info-list{
    font-weight: 700;

}

 

   .loading{
    font-weight: 400;
   }

   /* USER PROFILE PAGE */
   /* user profile remove bullets */
 ul{
    list-style: none;
    padding: 0;
    margin: 0;
         }


/* FOOTER */
.footer-text{
    
    color: black;
}

/* HEADER */
.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .55);
    border-color: rgba(0, 0, 0, 0);
}

.author-link{
    
    text-decoration: none;
    font-weight: 900;
    

}

.like-icon {
    /* Set the initial color */
    color: black;
    /* You can set your preferred initial color here */
    transition: color 0.3s;
    /* Add a smooth transition effect */

    /* Change color on hover */
    &:hover {
        color: red;
        /* Change the color to red on hover */
    }
}

label {
    cursor: default;
}