{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <section class="about-section">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <h1 class="about-heading">Discover Our Story</h1>
                <p class="about-description">
                    Kunstgalerie Wien is a celebration of creativity, diversity, and the unifying power of art. We're
                    not just an art gallery; we're a global movement that transcends borders and brings artists and art
                    enthusiasts together from around the world.
                </p>
                <p class="about-description">
                    Our journey began in the heart of immperial Vienna, a city known for its rich cultural heritage. Inspired by
                    this vibrant environment, we set out to create a space where art knows no boundaries, where artists
                    can shine, and where every art lover can find inspiration.
                </p>
            </div>
            <div class="col-lg-6 col-md-12">
                <img src="{% static 'images/about1.jpg' %}" alt="Gallery Interior"
                    class="about-image about-image-small">
            </div>
        </div>
    </section>

    <section class="mission-section">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <img src="{% static 'images/about.jpg' %}" alt="Artists" class="about-image about-image-small">
            </div>
            <div class="col-lg-6 col-md-12">
                <h2 class="about-subheading">Our Mission</h2>
            <p class="about-description">
                Kunstgalerie Wien is on a mission to connect artists and art enthusiasts worldwide. We empower artists to showcase
                their talent, share their stories, and find inspiration from diverse artistic expressions no matter where they are
                in the world.
            </p>
            <p class="about-description">
                We believe that art is a universal language, and through our gallery, we aim to foster cultural exchange and
                dialogue. We're passionate about supporting emerging artists and providing them with a global stage and market.
            </p>
            <p class="about-description">
                Additionally, our mission is to enable artists of our choosing to sell their artwork directly through us, regardless
                of their location. We want to empower artists to reach a broader audience and gain recognition for their work.
            </p>

            </div>
        </div>
    </section>
</div>
{% endblock %}