{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="artists-heading">Our Artists</h1>
    <div class="row">
        {% for artist in artists %}
        <div class="col-md-3">
            <div class="artist-profile">
                <a href="{% url 'user_profile' artist.username %}">


                    <div class="image-container">
                        <!-- <img src="{% static 'images/gb.png' %}" class="gold-border-profile"> -->
                        <img src="{{ artist.userprofile.profile_picture.url }}" alt="{{ artist.username }}"
                            class="profile-image">
                        <!-- <img src="{% static 'images/gbbottom.png' %}" class="gold-border-profile"> -->
                    </div>


                    <!-- </div> -->
                </a>
                <p class="artist-name"><a href="{% url 'user_profile' artist.username %}"> @{{ artist.username }}</a>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %},