{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>{{ post.title }}</h1>
            <p>{{ post.author }} | {{ post.created_on }}</p>
            <div class="post-image">
                {% if "placeholder" in post.featured_image.url %}
                <img src="{% static 'images/golden_gate.jpeg' %}" width="100%" >
                {% else %}
                <img src="{{ post.featured_image.url }}" alt="{{ post.title }} Image" width="100%">
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="post-content">
                {{ post.content | safe }}
            </div>
            <div class="post-interactions">
                <div class="likes">
                    {% if user.is_authenticated %}
                    <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                        {% csrf_token %}
                        {% if liked %}
                        <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like">
                            <i class="fas fa-heart"></i>
                        </button>
                        {% else %}
                        <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like">
                            <i class="far fa-heart"></i>
                        </button>
                        {% endif %}
                    </form>
                    {% else %}
                    <span class="text-secondary"><i class="far fa-heart"></i></span>
                    {% endif %}
                    <span class="text-secondary">{{ post.number_of_likes }}</span>
                </div>
                <div class="comments">
                    <strong><i class="far fa-comments"></i> {{ comments.count }}</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h3>Comments:</h3>
            <div class="comments-list">
                {% for comment in comments %}
                <div class="comment">
                    <p class="commenter">
                        {{ comment.name }}
                        <span class="comment-date">{{ comment.created_on }}</span> wrote:
                    </p>
                    <p class="comment-body">{{ comment.body | linebreaks }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            {% if commented %}
            <div class="alert alert-success" role="alert">
                Your comment is awaiting approval
            </div>
            {% else %}
            {% if user.is_authenticated %}
            <h3>Leave a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="post">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-signup btn-lg">Submit</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}